body {
	background-image: url(../images/cover-g.jpg);
	background-size:cover;
    background-repeat: no-repeat;
	background-opacity: 0.1;
}

.container {
	width: 100%;
	height: auto;
	position: relative;
}

.banner{
	margin:40px 0px 0px 90px;
}

h3{
	color: white;
	text-align: center;
    font-family: "Segoe UI Semibold", Segoe, sans-serif;
}

h4{
	color: white;
	text-align: center;
    font-family: "Segoe UI Semibold", Segoe, sans-serif;
}

nav{
	float:right;
	margin-top: 45px;
	margin-right: 90px
}

nav ul{
	list-style:none;
	margin:0;
	padding:0;
}

nav li {
    display:inline-block;
	font-family: "Segoe UI Semibold", Segoe, sans-serif;
	font-size:14px;
	margin-left:1px;
	margin-right:1px;
	padding-top:46px;
	padding-right:30px;
}

nav li a {
    color: white;
    text-align: center;
  	text-decoration:inherit
}

nav li a:hover {
    color: red;
}

nav li a:active {
    color: red;
	opacity: 0.6;
}

#home-menu{
	color: red;
}

#showreel-menu{
	color: red;
}

#vfx-menu{
	color: red;
}

#design-menu{
	color: red;
}

#photo-menu{
	color: red;
}

#about-menu{
	color: red;
}

#contact-menu{
	color: red;
}

.icons{
	float: right;
	position: relative;
	right: 0px;
	bottom: 0px;
	padding-right: 15px;
	padding-bottom: 10px;
}

.fa {
	margin: auto;
    padding: 10px;
    text-decoration: none;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-linkedin {
    color: white;
}

.fa-vimeo {
    color: white;
}

.fa-instagram {
    color: white;
}

.fa-500px{
	color: white;
}

.fa-weibo{
	color: white;
}

.fa:hover {
    opacity: 0.7;
}

footer{
	text-align: center;
	position:static;
	float: left;
	bottom:2px;
	color:gray;
	opacity:0.6;
	font-family: "Segoe UI Semibold", Segoe, sans-serif;
	font-size:13px;
}


/*DESIGN.html*/

#design-menu {
    background-color: #none;
    color: white;
    padding: 6px;
    font-size: 14px;
    border: none;
}

#design-menu a:hover {
	color: red;
}

#design-menu a:active {
	color: red;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
    border: :1px solid green;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: none;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 6px 1px;
    text-decoration: none;
    display: block;
}

li a:hover, .dropdown:hover {
	color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover #design-menu {
    background-color: none;
}

.design-content-blank {
	position: relative;
	border: 0px solid red;
	height: 800px;
}

.design-content{
	position: static;
	height: 100%
}

#bubble-chart{
	clear: both;
	margin: 85px auto;
	border: 2px solid #CCCCCC;
	padding: auto;
	width:500px;
}

#bubble-chart-title{
	margin: auto;
	text-align: center;
	clear: both;
	position: static;
    padding: auto;
	color:white;
}

#bubble-chart-info{
	margin: auto;
	padding:2px 20px;
}

#bubble-chart-info p{
	color: white;
	font-family: "Segoe UI Semibold Light", Segoe, sans-serif;
	font-size:14px;
}

.mobile-app{
	margin: 30px auto;
	width: 70%;
	border: 0px solid red
}

.mobile-app h4{
	margin: 10px auto;
	padding: 20px;
	width: 40%;
}

.mobile-app a {
	color: white;
}

.mobile-app a:link {
	color: white;
}

.mobile-app a:visit {
	color: white;
}

.mobile-app a:hover{
	color: red;
}

.mobile-app a:active {
	opacity: 0.7;
}

#mobile-app-img{
	width:80%;
	margin: auto;
	border: 0px solid pink
}

.mobile-app img{
	margin: auto 17px;
	padding: 10px 1px;
	width: 220px;
	height: 370px;
	border: none;
}


.epics{
	margin: 250px auto;
	padding-bottom: 147px;
	width: 40%;

}

.epics a {
	color:white;
}

.epics a:hover {
	color:red;
}

.epics a:active {
	opacity: 0.7;
}
