body {
    background-image: url(../images/cover-g.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.container {
	width: 100%;
	height: 700px;
}

.banner{
	margin: 40px 0px 0px 90px;
}

h4{
	color: white;
	text-align: center;
    font-family: "Segoe UI Semibold", Segoe, sans-serif;
}

nav{
	float:right;
	margin-top: 45px;
	margin-right: 90px
}

nav ul{
	list-style:none;
	margin:0;
	padding:0;
}

nav li {
    display:inline-block;
	font-family: "Segoe UI Semibold", Segoe, sans-serif;
	font-size:14px;
	margin-left:1px;
	margin-right:1px;
	padding-top:46px;
	padding-right:30px;
}

nav li a {
    color: white;
    text-align: center;
  	text-decoration:inherit
}

nav li a:hover {
    color: red;
}

nav li a:active {
    color: red;
	opacity: 0.6;
}

#design-menu {
    background-color: #none;
    color: white;
    padding: 6px;
    font-size: 14px;
}

#design-menu a:hover {
	color: red;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
    border: :1px solid green;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: none;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 6px 1px;
    text-decoration: none;
    display: block;
}

li a:hover, .dropdown:hover #design-menu {
	color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover #design-menu {
    background-color: none;
}

#home-menu{
	color: red;
}

#showreel-menu{
	color: red;
}

#vfx-menu{
	color: red;
}

#design-menu{
	color: red;
}

#photo-menu{
	color: red;
}

#about-menu{
	color: red;
}

#contact-menu{
	color: red;
}

.placeholder{
	height: 520px;
	border: 0px solid pink
}

.showreel{
	width: 60%;
	margin: auto;
	border: 0px solid red;
}

.showreel iframe{
	margin: 20px auto;
	display: block;
}

#sheet{
	text-align: center;
	margin: auto;
	padding: 0;
	font-family: "Segoe UI Light", Segoe, sans-serif;
}

#sheet a {
    color: white;
}

#sheet a:visited {
    color: white;
}

#sheet a:hover {
    color:red;
}

#sheet a:active {
    color:red;
}
/*#video-a {
	position:relative;
	float:left;
    margin: 30px 0px 10px 200px;
    border:0px solid #ccc;
}

#video-b {
	position:relative;
	float:left;
    margin: 30px 0px 10px 10px;
    border:0px solid #ccc;
}

#video-c {
	clear:both;
	position:relative;
	float:left;
    margin: 10px 0px 10px 200px;
    border:0px solid #ccc;
}*/

.vfx-works{
 	margin: auto;
	width: 20%
	border:1px solid red;
}

.vfx-works li {
	list-style:none;
  color: white;
   display:inline-block;
	font-family: "Segoe UI Semibold", Segoe, sans-serif;
	font-size:14px;
}

.vfx-works li a:link {
    color: white;
  }

.vfx-works li a:visited {
	color: white;
}

.vfx-works li a:hover {
    color: red;
}

.vfx-works li a:active {
    color: red;
	opacity: 0.6;
}

.video-gallery {
	margin: 100px auto;
	float: left;
	padding-left: 130px;
	width: 90%;
}

.video-gallery iframe {
	margin: 0 auto;
    padding: 1px;
    border: 0px solid #73AD21;
}


/*DESIGN.html
#design-projects{
	text-align: center;
	clear: both;
	position: static;
    margin-left: 350px;
	margin-top: 30px;
}

#design-projects li{
  	float:left;
	display:inline-block;
	font-family: "Segoe UI Semibold", Segoe, sans-serif;
	font-size:12px;
	list-style:none;
 	margin:0;
 	padding-left: 100px;
}

#design-projects li a {
    color: white;
    text-align: center;
  	text-decoration:inherit
}

#design-projects li a:hover {
    color: red;
}

#bubble-chart-title{
	text-align: center;
}

#bubble-chart{
	margin: auto;
	clear: both;
	float: left;
	position: static;
    margin-left: 400px;
    padding: 10px;
}
*/

/*ABOUT.html*/
.about{
	position: static;
	margin: 50px auto;
	width: 52%;
	border: 0px solid green;
}

.about img{
	margin: 0 auto;
	border: 5px solid white;
	float: left;
}

.about p{
	position: static;
	padding-left: 380px;
	width: 400px;
	height: 300px;
	color: white;
	border: 0px solid #FF0000;
	font-family: "Segoe UI Regular", Segoe, sans-serif;
}

#email{
	text-align: center;
	color: white;
	margin-top: 200px;
	padding-bottom: 280px;
	font-family: "Segoe UI Semibold", Segoe, sans-serif;
	font-size: 24px;
}

#email a:link{
	color: white
}

#email a:visit{
	color: white
}

#email a:hover{
	color: red
}

#email a:active{
	color: red;
	opacity: 0.7
}

.gallery {
    margin: 5px;
    border: 0px solid #ccc;
    float: left;
    width: 400px;
}

.gallery:hover {
    border: 0px solid #777;
}

.gallery img {
    width: 100%;
    height: 100%;
}

.icons{
		position: static;
		clear: both;
		float: right;
		padding-right: 15px;
		padding-bottom: 10px;
}

.fa {
	  margin: auto;
    padding: 10px;
    text-decoration: none;
		bottom: 0px;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-linkedin {
    color: white;
}

.fa-vimeo {
    color: white;
}

.fa-instagram {
    color: white;
}

.fa-500px{
	color: white;
}

.fa-weibo{
	color: white;
}

.fa:hover {
    opacity: 0.7;
}

footer{
	text-align: center;
	position:fixed;
	bottom:2px;
	color:gray;
	opacity:0.6;
	font-family: "Segoe UI Semibold", Segoe, sans-serif;
	font-size:13px;
}
