body {
    background-image: url(../images/cover/cover-dbw.png);
    background-size: 2000px;
    background-repeat: no-repeat;
    margin: auto;
    background-attachment: fixed;    
}

h4{
	color: white;
	text-align: left;
    font-family: "Segoe UI Semibold", Segoe, sans-serif;
}

.container {
	position: absolute;
	margin: auto;
	margin-top: 150px;
	margin-bottom: 350px;
	width: 100%;
	height: 70%;
	border: 0px solid yellow;
	animation: fadein 1s;
	z-index : 0.9
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.banner {
	width: 100%;
	height: 88px;
	position: fixed;	
	border: 0px solid white;
	background-color: black;
	opacity: 0.7;
	z-index : 1
}

.title{	
	position: fixed;
	width: 300px;
	margin: 0px 45px;
	padding: 7px 100px;
	border: 0px solid gray	
}

nav{
	clear: both;
	position: relative;
	margin: 0px 0px 0px 400px;		
	padding: 35px 50px 35px 100px;
	border: 0px solid white;
	float: right;	
}

nav li {
    display:inline-block;
	font-family: "Segoe UI Regular", Segoe, sans-serif;
	font-size: 14px;	
	padding-right: 50px;
}

nav li a {    
    text-align: center;
  	text-decoration: none;  	
}

/*
nav li a:link {
	color: white;
	opacity: 1;	
}

nav li a:visited {
	color: white;
	opacity: 1;	 
}

nav li a:hover {
    color: white;
    opacity: 0.8
}

nav li a:active {
    color: white;
    opacity: 1.0;
 }
*/

a:link {
	color: white
}

a:visited {
	color: white
}

a:hover {
	color: lightgray;
	!animation: 0.5s;
}

a:active{
		color: white;
}

/*
.about a {
    color: white;
}

.about a:visited {
    color: white;
}

.about a:hover {
    color: white;
    opacity: 0.8;
}

about a:active {
    color: white;
}
*/

#home-menu{
	color: white
}

#showreel-menu{
	color: white;
}

#vfx-menu{
	color: white;
}

#photo-menu{
	color:white;
}

#blog-menu{
	color: white;
}

#about-menu{
	color: white;
}

#contact-menu{
	color: white;
}

.placeholder{
	height: 520px;
	border: 0px solid pink
}

!#home-img img{
	display: block;
	margin: 66px auto;
}

.home-title-cover {
	margin: 0px auto;
	margin-top: 80px;
	display: table;
	position: relative;	
	width: 1000px;
	height: 563px;
	border: 0px solid pink
}

.home-title-cover p {
	font-family: "Segoe UI Regular", Segoe, sans-serif;
	font-size: 23px;
	text-align: center; 

}

.home-title-cover:hover .works-title {
	visibility: visible;
	opacity: 0.9
}

#showreel{	
	margin: 70px auto;
	border: 0px solid pink
}

#showreel iframe {
	display: block;
	margin: auto;
	border: 0px solid red;
}

#sheet {
	text-align: center;
	display: block;	
	padding: 20px;
	font-family: "Segoe UI Light", Segoe, sans-serif;
}

/*WORKS*/
.works-cover {
	position: relative;
	margin: 40px auto;
	width: 1002px;
	border: 0px solid cyan;
	z-index: 0.7;
}

.works-cover img{
	clear: both;
	margin: 0;
	padding: 0;
	border: 0px solid red;
}

.works-title-cover > *{
	float: left;
	position: relative;	
	width: 500px;
	height: 250px;	
	border: 0px solid pink
}

.works-title {
	position: absolute;
	margin: 0 auto;
	top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;	
	background: rgba(0, 0, 0, 0.7);
	color: white;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Segoe UI Regular", Segoe, sans-serif;
	font-size: 18px;
	border: 0px solid yellow
}

.works-title-cover:hover .works-title {
	visibility: visible;
	opacity: 0.9
}

.works-container {
	clear: both;
	position: relative;
	width: 900px;
	margin: 50px auto 160px auto;
	padding-bottom: 40px;	
	background-color: white;
	border: 0px solid orange;
}

.works-container iframe {
	display: block;
	margin: 0px auto;
	border: 0px solid pink
}

.works-container p{
	position: relative;
	margin: 20px 50px;
	padding: 0px 0px;	
	font-family: "Segoe UI Regular", Segoe, sans-serif;
	color: black;
	font-size: 15px;
	border: 0px solid green;
}

.works-container ul{
	display:inline-block;
	position: relative;
	margin: 20px 50px;
	font-family: "Segoe UI Regular", Segoe, sans-serif;
	font-size: 15px;
}

.works-container a{
	color: black;
}

#vg-img {
	margin: 0px auto;
	width: 800px;
	border: 0px solid cyan
}

#vg-img img {
	position: relative;
	margin: 0px;
	padding: 0px;
	width: 397px;
}

#au-img img {
	position: relative;
	margin: 10px 0;
	width: 900px;
}

#lb-img img {
	position: relative;
	padding-bottom: 30px;
	width: 900px;
	border: 0px solid red
}

#sc-img img {
	position: relative;
	padding-bottom: 30px;
	width: 900px;
	border: 0px solid red
}
/*
.video-gallery {
	position: static;
	margin: 60px auto;
	border: 0px solid blue
	z-index:0.7;
}

.video-gallery iframe {
	position: relative;
	display: block;
	margin: 0 auto;
    padding-bottom: 30px;
    border: 0px solid #73AD21;
}
*/

/*photo.html*/
#photo-gallery {
	margin: 60px;
	line-height: 0;   
    -webkit-column-count: 3;
    -webkit-column-gap:   0px; 
    column-count:         3;
    column-gap:           0px;  
}

#photo-gallery img {
  /* Just in case there are inline attributes */
  clear: both;
  margin: 0px;
  padding: 0px;
  width: 500px !important;
  height: auto !important;
  border: 0px solid white
}


#blog-content p{
	text-align: center;
	color: white;
	margin: 280px auto;
	font-family: "Segoe UI Regular", Segoe, sans-serif;
	font-size: 18px;
}

/*ABOUT.html*/
.about{
	margin: 100px auto;
	width: 900px;
	height: auto;
	border: 0px solid green;
}

.about img{
	display: block;
	position: absolute;
	margin-left: 50px;
	padding-top: 5px;
	border: 0px solid white;	
}

#bio {
	position: relative;
	margin: 0px 0px 0px 460px;
	padding: 0px 0px;
	width: 330px;	
	color: white;
	border: 0px solid #FF0000;
	font-family: "Segoe UI Regular", Segoe, sans-serif;
	font-size: 15px;
	text-align: justify;
	line-height: 139%;
}

#resume-icon {
	position: relative;
	float: left;
	margin-top: 140px;
	padding-left: 55px;	
	border: 0px solid pink;
}

#resume-link {
	position: relative;
	border: 0px solid yellow;
	float: left;
	padding-left: 85px;
	padding-top: 155px;
	font-family: "Segoe UI Light", Segoe, sans-serif;
	font-size: 13px;
}

#email {
	text-align: center;
	display: block;
	color: white;
	margin: 280px auto;
	font-family: "Segoe UI Regular", Segoe, sans-serif;
	font-size: 20px;
}


.gallery {
    margin: 5px;
    border: 0px solid #ccc;
    float: left;
    width: 400px;
}

.gallery:hover {
    border: 0px solid #777;
}

.gallery img {
    width: 100%;
    height: 100%;
}

.icons{
	display: block;
	position: fixed;
	right: 10px;
	bottom: 10px;
	font-size: 1.7em;
}

.fa {
    margin: auto;
    padding: 5px;
    text-decoration: none;
    bottom: 0px;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-linkedin {
    color: white;
}

.fa-vimeo {
    color: white;
}

.fa-instagram {
    color: white;
}

.fa-500px{
	color: white;
}

.fa-weibo{
	color: white;
}

.icons a:hover {
    color: white;
}

footer{
	position: fixed;
	text-align: left;
	padding-left: 10px;	
	bottom: 0px;
	color: lightgray;
	opacity: 0.6;
	font-family: "Segoe UI Regular", Segoe, sans-serif;
	font-size:12px;
}
